/* JUAN CAMILO ACEVEDO NOREÑA - TECNOLOGIA EN DISEÑO Y DESARROLLO WEB */

* {
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: auto;
	background:url(../IMAGENES/fondocolores.gif);
	background-repeat:repeat;
	background-attachment:fixed;
	background-position: center 0;
	color: #FFFFFF;
}

.DatosPersonales { 
    width: 70%;
    height: auto;
    margin: 0 auto;
}

img {
	display: block;
	margin: auto;
	width: 25%;
}

#colorsh {
	text-align: center;
}

.azulblanco {
	color: #FFFFFF;
	background-color: blue;
}

table {
	border-collapse: collapse;
	width: 50%;
	margin: auto;
	border: #FFFFFF;
}

th {
	color: #FFFFFF;
	background-color: blue;
}

td {
	width: 50%;
	text-align: left;
}

/* JUAN CAMILO ACEVEDO NOREÑA - TECNOLOGIA EN DISEÑO Y DESARROLLO WEB */