/* JUAN CAMILO ACEVEDO NOREÑA - TECNOLOGIA EN DISEÑO Y DESARROLLO WEB */

* {
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: auto	;
}

.colores {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

.color1 {
	width: 5%;
	height: 700px;
	display: inline-block;
	background-color: red;
}

.color2 {
	width: 5%;
	height: 700px;
	display: inline-block;
	background-color: blue;
}

.color3 {
	width: 10%;
	height: 700px;
	display: inline-block;
	background-color: yellow;
}

.color4 {
	width: 15%;
	height: 700px;
	display: inline-block;
	background-color: red;
}

.color5 {
	width: 25%;
	height: 700px;
	display: inline-block;
	background-color: blue;
}

.color6 {
	width: 40%;
	height: 700px;
	display: inline-block;
	background-color: yellow;
}



/* JUAN CAMILO ACEVEDO NOREÑA - TECNOLOGIA EN DISEÑO Y DESARROLLO WEB */